<aside class="col-lg-2 sidebar p-3">
    <nav class="nav flex-column">

        @if (User.IsInRole("Admin"))
        {
            <a class="nav-link active" asp-action="Index" asp-controller="Users">Users</a>
        }

        <a class="nav-link active" asp-action="Index" asp-controller="Home">Courses</a>
    </nav>
</aside>